# Compiled class file
**/*.class

# Log file
**/*.log

# BlueJ files
**/*.ctxt

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# Package Files #
**/*.war
**/*.nar
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar
**/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/hs_err_pid*
**/replay_pid*

# PDF from classes' notes
**/*.pdf

# DIA temporary files
**/*.dia~

# Office lock
**/~*

# C and other binaries
**/*.exe

desktop.ini
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/6e4934de-aead-42fb-a3a2-0fd3508426ca.vsidx
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/427087dc-5485-4d73-bd04-4f3beeaa5094.vsidx
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/7fe0f94c-d397-4d70-90e6-237a2c926a84.vsidx
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/1e152c36-1868-434d-be90-5e83d650a52a.vsidx
*.vsidx
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/7fe0f94c-d397-4d70-90e6-237a2c926a84.vsidx
/.gitignore
/.vs/VSWorkspaceState.json
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/7fe0f94c-d397-4d70-90e6-237a2c926a84.vsidx
/.gitignore
/.vs/poo-tp-2024-1-isso-nao-e-um-grupo/FileContentIndex/7fe0f94c-d397-4d70-90e6-237a2c926a84.vsidx
